/* CSS Document */

<style type="text/css">
body { text-align:center; font-family:verdana; }
#pagewrapper,#page { width:760px; margin:auto; text-align:left; display:block; }
#header 
{
 display:block; height:100px; 
 padding:0px;
 clear:both;
 margin:5px 5px 0 5px;
}
#header h1 { margin:0; padding:0; font:30px Georgia, serif; margin-top:20px; margin-left:40px; }
#header h2 { margin:0; padding:0; font:14px Georgia, serif;  margin-left:40px; }

#topnav 
{
 color:#FFFFFF;
 margin:0px 5px 5px 5px;
 font:13px verdana;
 padding:5px;
 background:url(topnav_bg.gif) #333333;
}

#topnav ul { list-style-type:none; margin:0; padding:0px; }
#topnav ul li { display:inline; margin-right:6px; margin-left:6px; }


#main
{
 margin:5px;
 border:0px solid #CCCCCC;
 clear:both;
 display:block;
 margin-bottom:40px;
} 

#left { width:25%; float:left; margin:10px; }
#body { width:67%; float:right; margin-bottom:20px; margin:10px; margin-left:0px; }

#footer { clear:both; margin:5px; vertical-align:middle; text-align:center; font-size:12px; display:block; }
.bcol { color:#fb9622; }


/****************************************************************/

#main h2 { color:#7D3F00;margin:20px 0 6px;padding-bottom:10px;font:normal 17px Georgia, serif;border-bottom : 1px solid #e2dfdb; }

#main { font:12px verdana; line-height:15px; }
p { padding:0; margin-left:10px; margin-right:5px; margin-top:0px; margin-bottom:8px; }
/******************************************************************/
#page { border:1px solid #333333; color:#333333; background:#fff; }

#footer { background:#333333; color:#FFFFFF; padding:5px 0px 10px 0px; }
#header{ border-top:3px solid #666666; border-bottom:0px solid #666666; }

a { color:#DF7000; }
a:hover { color:#666666 }
#topnav a , #footer a{ color:#FF9933; text-decoration:none; font-weight:500;;  }
#topnav a:hover, #footer a:hover {  text-decoration:underline; }

body {font : normal 12px/1.6em Arial, Helvetica, sans-serif;color : #2a3845;margin : 0;padding : 0;background:#f7f7f7}

.nav ul { margin-left:4px; list-style:inside; margin-top:10px; padding-left:6px; }
.nav li { margin-bottom:2px; }

